.sales-report {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.sales-summary {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sales-summary p {
    margin: 5px 0;
    font-size: 18px;
}

h1, h2 {
    color: #c35231;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
}
