/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #c35231; 
    color: #fff; 
    font-family: Arial, sans-serif;
}

.footer-section {
    margin: 10px 0;
    text-align: center;
}

/* Styling for links */
.footer-link {
    color: #fff; 
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline; 
}

/* Social Media Styling */
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 30px; 
    height: 30px;
    margin: 0 10px; 
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* Responsive Design for Smaller Devices */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; 
    }

    .footer-section {
        text-align: center;
        margin: 5px 0;
    }

    .social-media {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px; 
    }

    .social-icon {
        width: 24px; 
        height: 24px;
    }
}
